@media screen and (max-width: 992px) {
  .menu-toggle {
    display: block;
  }
  .close-togle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.6rem;
    font-size: larger;
    color: #fff;
    cursor: pointer;
  }
  .close-togle:hover {
    opacity: 0.8;
  }
  .navbar {
    height: 100%;
    width: 10rem;
    background: linear-gradient(135deg, #1a1a40, #3e1e68, #6d28ed);
    position: fixed;
    right: -10rem;
    top: 0;
    gap: 0;
    transition: right 0.7s ease-in-out; /* Smooth slide-in effect */
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
  }
  .navbar a {
    padding: 0.6rem;
    margin: 0;
    color: #fff;
    width: 10rem;
    text-align: center;
    gap: 0;
    border: none;
  }
  .navbar a:hover,
  .navbar a.active {
    background: linear-gradient(135deg, #2a2a60, #5a2a90, #8a3fff);
    transition: background 0.3s ease-in-out;
    border: none;
    border-radius: 0;
  }
  .navbar.right {
    right: 0;
  }
  .home {
    flex-direction: column-reverse;
    height: fit-content;
    margin: 0;
    align-items: center;
    gap: 2rem;
  }

  .home-detail-header h1 {
    font-size: clamp(2.2rem, 12vw, 3.2rem);
  }
  .home-detail p {
    max-width: 500px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    hyphens: none;
    word-wrap: normal;
    overflow-wrap: normal;
  }
  @keyframes slidein {
    100% {
      right: 0;
    }
  }
  .home-detail .download-social {
    margin-top: 0;
    align-items: center;
    justify-content: center;
    padding: auto;
  }
  .section {
    min-height: auto;
  }
}
@media screen and (max-width: 576px) {
  .home-detail .download-social {
    flex-direction: column;
    gap: 1rem;
  }
  .home-detail .social-icons {
    margin-left: 0;
  }
}
