@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,body {
  height: calc(var(--vh, 1vh) * 100);
  background: url("./Assets/background.jpg") no-repeat center / cover;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(2rem);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 1.75rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.menu-toggle {
  display: none;
  font-size: clamp(1.3rem,3vw,1.8rem);
  cursor: pointer;
  color: #7a04eb;
}
.animated {
  opacity: 0;
  animation: slide-in 0.5s ease forwards;
  animation-delay: 0.4s;
}
.animated-right{
  opacity: 0;
  transform: translateX(2rem);
  animation: slide-left 0.5s ease forwards;
  animation-delay: 0.6s;
}
.animated-left{
  opacity: 0;
  transform: translateX(-2rem);
  animation: slide-left 0.5s ease forwards;
  animation-delay: 0.6s;
}
.animated-contact {
  transform: translateY(2rem);
  opacity: 0;
  animation: slide-in 0.5s ease forwards;
}
.logo {
  font-size: clamp(1.5rem,2vw,2.5rem);
  color: #7a04eb;
  text-decoration: none;
  font-weight: 600;
}
.navbar a {
  width: fit-content;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}
.navbar a:hover,
.navbar a.active {
  border-color: #fff;
}
.close-togle{
  display: none;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 3.5rem;
  padding: 3.3rem 5% 0;
  color: #fff;
}

.home-detail-header h1 {
  font-size: clamp(1.3rem, 2.5vw, 2.2rem); 
  line-height: 1;
}
.home-detail-header h2 {
  font-weight: 500;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
}
.home-detail p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  margin: 0.7rem 0 1rem;
}
.home-detail .download-social {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.75rem;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 2.25rem;
  box-shadow: 0 0 4px #fff;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  box-shadow: none;
  color: #fff;
}
.home-detail .social-icons {
  margin-left: 1.75rem;
}
.home-detail .social-icons a {
  display: inline-flex;
  padding: 0.6rem;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  margin: 0 0.4rem;
  transition: 0.5s;
}

.home-detail .social-icons a:hover {
  background: #fff;
  box-shadow: 0 0 10px #fff;
  color: #333;
}
.home-img .image-box {
  position: relative;
  width: clamp(200px, 28vw, 400px);
  height: clamp(200px, 28vw, 400px); 
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 20px #fff;

  /* animation: rotate 3s linear infinite;
  animation-delay: 3s; */
}

.home-img .image-box img {
  display: absolute;
  display: block;
  object-fit: cover;
  width: 100%;
}

.contact {
  display: flex;
  align-items: center;
  gap: 3.5rem;
  padding: 3.3rem 5% 0;
  color: #fff;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem;
}
.contact-container .contact-box:first-child {
  align-self: center;
}
.contact-box h2{
  font-weight: 700;
  font-size: 1.7rem;
}
.contact-box p{
  font-size: 0.9rem;
}
.contact-box .desc{
  margin: 1.2rem 0 2rem;
}
.contact-box .contact-detail{
  display: flex;
  align-items: center;
  margin: 0.2rem 0;
}
.contact-detail i{
  display: inline-flex;
  color: #333;
  font-size: 1.4rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  margin-right: 0.8rem;
  background: #fff;
  cursor: pointer;
  transition: .5s;
}
.contact-detail i:hover{
  background: none;
  box-shadow: 0 0 4px #fff;
  color: #fff;
}
.contact-detail .detail p:first-child{
  color: #fff;
  font-size: 0.9rem;
  font-weight: 800;
}
.contact-box form{
  background: none;
  padding: 1rem 0 1rem;
  border-radius: 1rem;
  text-align: center;
}
.contact-box .heading{
  font-size: 2.5rem;
}
span{
  color: #7a04eb;

}
.contact-box .field-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
.contact-box .field-box input,
.contact-box .field-box textarea{
  padding: 0.6rem;
  background: none;
  border: 2px solid #fff;
  border-radius: .3rem;
  font-size: .9rem;
  color: #fff;

}
.contact-box .field-box textarea{
  grid-column: 1/-1;
  height: 7rem;
  resize: none;
}
.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus{
  border: 2px solid #7a04eb;
  box-shadow: 0.1rem 0.1rem 0.2rem #7a04eb;
  color: #fff;
  outline: none;
}
.contact-box .btn{
  margin-top: 2rem;
  cursor: pointer;
}
.section{
  display: none;
}
.activate {
  display: flex; 
}
/* Popup Styling */
.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.popup-content {
  width: clamp(15rem,50vw,30rem);
  background-color: #6c63ff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.popup-content h2{
  color: #fff;

}
.popup button {
  background: #fff;
  color: #333;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s all ease-in-out;
}
.popup button:hover{
  background: none;
  border: 2px solid #fff;
  color: black;
}
/* Fade effect for form */
.fade-out {
  opacity: 0.3;
  pointer-events: none;
}
@keyframes slide-left {
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoom-in {
  100% {
    transform: scale(1);
  }
}
@keyframes slide-in {
  100% {
    opacity: 1;
  }
}

