---
import Layout from "../layouts/Layout.astro";
import ServicesSection from "../components/Services.astro";
---

<Layout title="Services | Mohib Ali">
  <main>
    <ServicesSection />
  </main>
</Layout>
